################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SQLInstaller.Console/bin
/SQLInstaller.Console/obj/Debug
/SQLInstaller.Core/bin/Debug
/SQLInstaller.Core/obj/Debug
/.vs/SQL Installer.NET/v14
