################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs
/SqlInstaller/bin
/SqlInstaller/obj
/SqlInstaller/JobTech.SqlInstaller.csproj.user
*.user
